section {
	padding: rem-calc(80) 0;
}

section#hello {
	padding: rem-calc(100) 0;
	color: $white;
	background: url(../assets/img/countdown_bg.png) no-repeat center center;
	background-size: cover;

	h1 {
		margin-bottom: rem-calc(80);
	}

	h5 {
		margin: rem-calc(20) 0 rem-calc(80);
	}
}

#countdown {
	max-width: rem-calc(800);
	margin: 0 auto;
	text-transform: uppercase;

	.stat {
		font-family: $header-font-family;
		font-size: 5em;

		@include breakpoint(small down) {
			font-size: 3em;
		}
	}

	.num:not(:last-child) {
		border-right: 1px solid $white;
	}
}

section#welcome {
	background-color: $warning-color;
	color: $black;

	hr {
		width: rem-calc(80);
		border: 1px solid $black;
		margin: rem-calc(40) 0 rem-calc(20);
	}

	img {
		border-radius: rem-calc(180);


	}

	@include breakpoint(small down) {
			padding: rem-calc(60) 0;

		img {
			margin-bottom: rem-calc(60);
		}
	}
}

section#decide {
	background-color: $light-gray;

	.item:not(:last-child) {
		margin-bottom: rem-calc(40);
	}
}

#introVideo {
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

#videoClose {
	color: $white;
	padding: rem-calc(8) rem-calc(18) rem-calc(14);

	top: 0;
	right: 0;

	border-radius: 0;
}

h1, h2 {
	font-weight: bold;
}

h4, h5, h6 {
	font-family: $body-font-family;
}

a {
	font-weight: bold;
}

p {
	font-weight: bold;
}

.section-header {
	h5 {
		max-width: rem-calc(600);
		margin: 0 auto;
	}

	hr {
		max-width: rem-calc(400);
		margin: rem-calc(60) auto;
	}
}

.top-bar {
	width: 100%;
	margin-top: 0 !important;

	background-color: $black;

	a {
		color: $white;
	}

	ul {
		background-color: transparent;
	}

	object {
		fill-color: $white;
	}
}

.header {
	margin-bottom: rem-calc(60);

	h3 {
		color: $secondary-color;
	}

	.accent {
		display: inline-block;
		border-bottom: 3px solid $secondary-color;
	}

	&.header-2 h3 {
		color: $success-color;
		border-color: $success-color;
	}

	&.header-3 h3 {
		color: $alert-color;
		border-color: $alert-color;
	}
}

button {
	text-transform: uppercase;
	font-weight: bold;

	font-size: 2em;
}

#playVideo {

}

#adam-quote{
    background: url("../assets/img/Quote-image.png") no-repeat center center;
    background-size: cover;
    padding: rem-calc(100) 0;

	blockquote {
		border: none;
		color: $white;
	}
 	
 	cite {
		font-family: $header-font-family;
		font-style: normal;
		font-size: 2em;
		color: $white;
	}

	h2 {
		 font-size: 4em;
	}

	@include breakpoint(small down) {
		h2 {
			font-size: 3em;
		}

		cite {
			font-size: 1.5em;
		}
	}
}





