

section {
	padding: rem-calc(100) 0;
}

section#hello {
	padding: rem-calc(100) 0;
	color: $white;
	background: url(../assets/img/onboarding_hero.jpg) no-repeat center center;
	background-size: cover;

	h1 {
		margin-bottom: rem-calc(80);

		transition: opacity 2s;
	}

	h5 {
		margin: rem-calc(20) 0 rem-calc(80);

		transition: opacity 2s ease 1.7s;
	}

	button {
		transition: opacity 2s ease 2.5s;
	}

	#countdown {
		transition: opacity 2s ease 1s;
	}

	h1, #countdown, h5, button {
		opacity: 0;
	}

	&.visible {
		h1, #countdown, h5, button {
			opacity: 1;
		}
	}
}

section#welcome {
	background: $success-color url(../assets/img/welcome.png) no-repeat center center;
	background-position: right center;
	background-size: 50% auto;

	h1 {
		color: $white;
	}

	hr {
		width: rem-calc(80);
		border: 1px solid $white;
		margin: rem-calc(40) 0 rem-calc(20);
	}

	img {
		border-radius: rem-calc(180);
	}

	@include breakpoint(medium down) {
		background-position: 150% center;
		background-size: auto 100%;
	}

	@include breakpoint(small down) {
		padding: rem-calc(60) 0;
		background: $success-color;

		img {
			margin-bottom: rem-calc(60);
		}
	}
}

section#todo, section#decide, section#to-bring {
	h3 {
		color: $success-color;
	}
}

section#decide {
	background-color: $light-gray;
}

section#to-bring, section#decide {
	img {
		display: block;
		max-height: rem-calc(100);
		width: auto;
		margin: 0 auto rem-calc(30);
	}
}

section#in-the-life {
	h4 {
		color: $secondary-color;
	}

	hr {
		width: rem-calc(60);
		border: 1px solid $dark-gray;
		margin: rem-calc(40) 0 rem-calc(10);
	}
}

section#culture {
	h3 {
		color: $secondary-color;
	}

	hr {
		width: rem-calc(60);
		border: 1px solid $dark-gray;
		margin: rem-calc(-16) 0 rem-calc(10) auto;
	}
}

section#inspired {
	img {
		margin-bottom: rem-calc(30);
	}
}

section#feel-confused {
	background-color: $light-gray;

	h3 {
		color: $alert-color;
	}

	h4 {
		margin-bottom: rem-calc(30);
	}

	h5 {
		margin-bottom: rem-calc(6);
	}

	a {
		display: inline-block;
		margin-bottom: rem-calc(6);
	}
}

#countdown {
	max-width: rem-calc(800);
	margin: 0 auto;
	text-transform: uppercase;

	.stat {
		font-family: $header-font-family;
		font-weight: bold;
		font-size: 5em;

		@include breakpoint(small down) {
			font-size: 3em;
		}
	}

	.num:not(:last-child) {
		border-right: 1px solid $white;
	}
}

#introVideo {
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

#videoClose {
	color: $white;
	padding: rem-calc(8) rem-calc(18) rem-calc(14);

	top: 0;
	right: 0;

	border-radius: 0;
}

#playVideo {
	padding: rem-calc(6) rem-calc(24) rem-calc(16);

	i {
		font-size: 2em;
		position: relative;
		top: rem-calc(5);
		margin-left: rem-calc(6);
	}
}

#quote {
    background: url("../assets/img/doug-powell.png") no-repeat center center;
    background-size: cover;

    h2 {
    	font-size: 2.5em;
    }

	@include breakpoint(small down) {
		h2 {
			font-size: 2em;
		}

		cite {
			font-size: 1.5em;
		}
	}
}

#quote-2 {
	background: $alert-color url(../assets/img/oen-hammonds.png) no-repeat center center;
	background-size: cover;

	h2 {
		font-size: 3.8em;
	}

	@include breakpoint(small down) {
		h2 {
			font-size: 3em;
		}
	}
}

h1, h2 {
	font-weight: bold;
}

h4, h5, h6 {
	font-family: $body-font-family;
}

a {
	font-weight: bold;
}

p {
	font-weight: bold;
}

.stacked-margin:not(:last-child) {
	margin-bottom: rem-calc(40);
}

.round-image img {
	border-radius: 50%;
}

.section-header {
	hr {
		max-width: rem-calc(400);
		margin: rem-calc(60) auto;
	}
}

.section-top {
	padding-top: rem-calc(60);
}

.top-bar {
	width: 100%;
	margin-top: 0 !important;

	a {
		color: $white;
	}

	ul {
		background-color: transparent;
	}
    

    li a{
    	border-bottom: 2px solid rgba(0,0,0,0);
    	padding:.7rem 0 !important;
    	margin-left:2rem;
    }

	li a:hover{
		border-bottom: 2px solid $dark-gray;
		color: $light-gray;
	}

	object {
		fill-color: $white;
	}

	img {
		padding:rem-calc(8) 0;
		width: rem-calc(140);

		transition: width .3s;	
	}

	background-color: transparent;
	transition: background-color .3s;

	&.hide-nav {
		background-color: transparent;
	}

	&.show-nav {
		background-color: $black;

		img {
			width: rem-calc(120);
		}
	}

}


.header {
	margin-bottom: rem-calc(60);
}

button {
	text-transform: uppercase;
	font-weight: bold;

	font-size: 2em;
}

blockquote {
	border: none;
	color: $white;

	h2 {
		text-indent: -0.2in;
		line-height: 1.2;
	}
 	
 	cite {
		font-family: $header-font-family;
		font-style: normal;
		font-size: 1.5em;
		color: $white;
	}

	@include breakpoint(small down) {
		cite {
			font-size: 1em;
		}
	}
}

footer{
	height:100px;
	background: $black;
}

.life-blurb {
	padding: rem-calc(20) rem-calc(20);
}

#career {
	background:url("../assets/img/career.png") no-repeat center center;
	background-size:cover;
}
#places {
	background:url("../assets/img/places.png") no-repeat center center;
	background-size:cover;
	position: relative;
}
#language {
	background:url("../assets/img/language.png") no-repeat center center;
	background-size:cover;
}

.arrow-down {
	width: 0; 
	height: 0; 
	margin: 0 auto;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid $white;

	&.green{
	  position: absolute;
	  border-left: 40px solid transparent;
	  border-right: 40px solid transparent;
      border-top: 30px solid $success-color;
      margin-top:rem-calc(-100);
	}
    
    &.blue{
	  position: absolute;
	  border-left: 40px solid transparent;
	  border-right: 40px solid transparent;
      border-top: 30px solid $secondary-color;
      margin-top:rem-calc(-100);
	}

	&.red{
	  position: absolute;
	  border-left: 40px solid transparent;
	  border-right: 40px solid transparent;
      border-top: 30px solid $alert-color;
      margin-top:rem-calc(-100);
	}
}


.arrow-up {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	width: 0; 
	height: 0; 
	margin: 0 auto;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 20px solid $white;
}

.active-li {
	border-bottom: 2px solid $white !important;
	
}




/*
#hello {
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center-top;
    background-position-x: 50%;
    background-position-y: 0%;
    -webkit-animation: zoomin 25s 1;
}


@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
    }

}
*/



